.demo {
    margin-top: 10px;

    .progress {
        background: var(--color-blue-gradient);
        height: 36px;
        border-radius: 6px;
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 12px;
        position: relative;
    }

    .demoBtn {
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    .demoPicker {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        &:hover .radio {
            transform: scale(1.2); /* Увеличение размера радиокнопки */
        }
    }

    .radio {
        width: 13px;
        height: 13px;
        border: 2px solid white;
        transition: transform 0.2s ease-in-out; /* Плавное увеличение */
        border-radius: 100px;
    }

    .radioVoted {
        @extend .radio;
        background-color: white;
    }

    .line {
        position: absolute;
        top: 50%;
        width: 3px;
        height: 112%;
        border-radius: 100px;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        transition: left .5s;
    }
}

.pickerTitle {
    color: rgba(255, 255, 255, 0.781);
    font-size: 12px;
    font-weight: 400;
    padding-left: px;
}