.voteWrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;

    .vs {
        min-width: 30px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        opacity: 0.9;
        text-align: center;
    }

    .voteButton {
        height: 36px;
        width: 100%;
        min-width: 20%;
        border-radius: 6px;

        color: white;
        font-weight: 600;
        font-size: 13px;
        white-space: nowrap;
    }

    .voteVariant {
        width: 100%;
        min-width: 22%;
        transition: width .5s;

        .poolsize {
            margin-top: 4px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);

            span {
                color: white;
            }
        }
    }
}
